*,
*::before,
*::after{
	box-sizing: border-box;
}

body{
	margin: 0;
	padding: 0;

}

body, html {
	width: 100%;
	/*overflow-x: hidden;  Prevent horizontal overflow */
  }

body::-webkit-scrollbar{
	width: 0.5rem;
}

body::-webkit-scrollbar-track{
	background: var(--darkpurple);
}

body::-webkit-scrollbar-thumb{
	background: var(--gradient-purple1);
}

main{
	margin:0;
	padding: 0;

}


:root {
  --footer-font-size:0.9375rem; /*15px*/
  --paragraph-font-size1: 1rem; /*16px*/
  --paragraph-font-size2: 1.0625rem;	/*17px*/
  --paragraph-font-size3: 1.125rem; /*18px*/
 

  --sub-heading-font-size:1.25rem; /*20px*/
  --sub-heading-font-size2:1.5625rem; /*25px*/

  --main-heading-font-size: clamp(1.875rem, 12vw + 1rem, 3.4375rem); /*55px*/
  --second-heading-font-size:clamp(1.125rem, 12vw + 1rem, 2.5rem); /*40px*/
  --third-heading-font-size:clamp(1rem, 12vw + 1rem, 1.875rem); /*30px*/
  
  /*--fs-xl: clamp(3.5rem, 12vw + 1rem, 12rem);*/
  --fs-600: 2rem;
  --fs-400: 1rem;

  --Lexend-font:"Lexend", sans-serif;
  --button-color:#D05959;
  --gradient-purple1: #5F27B7;
  --gradient-purple2:#2A1151;
  --darkpurple:#423757;
  --bg-main:#FFFAE2;
}

.container {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	margin-top:7.9rem;
	max-width: 100%;

}

/*--------------------------------------------------------------------------------*/
/*------------------------Section layout----------------------------------*/
.grid-padding{
	/*padding: 6rem 0 8rem 0;*/
	padding-block: min(20vh,6rem);
}

.img-container1{
	padding-inline-start:min(10vh,6.5rem);
}

.img-container2{
	padding-inline-end:min(10vh,6.5rem);
}

.img-grid{
	width: 34rem;
	height: 24.25rem;
}

.img-style{
	box-shadow: 0 5px 4px lightgray;
	border-radius: 5px;
}

.section-padding2{
	/*padding-left:  6.375rem;
	padding-right: 6.375rem;*/
	padding-inline: min(10vh,6.375rem);
}

/*----------------------------------------------------------*/
/*------------------------Section 1----------------------------------*/
.main-heading{
  font-size: var(--main-heading-font-size);
  line-height: auto;
  margin-bottom: 5rem;
  text-shadow:0 3px 4px rgba(0, 0, 0, 0.2) ;
}

.grid-container{
		display: grid;
		grid-template-columns: auto, 1fr;
		width: 100%;
	}

	.grid-container > iframe{
		max-width: 100%;
		width: 100vw;
		height: 60vh;
	}

/*-----------------------------------------------------------------------*/
/*----------------------------Section 2-------------------------------------*/
.section-2 >h1{
	text-align: center;
}

.section2-margin{
	margin-top: 4rem;
}

.a-link1{
	text-decoration: none;
}

.a-link1:hover{
	text-decoration: underline;
}

/*-----------------------------------------------------------------------*/
/*----------------------------Section grid-------------------------------------*/
.section-3-grid,
.section-4-grid,
.section-5-grid,
.section-6-grid,
.section-7-grid,
.section-c-grid
{
	display: grid;
	grid-template-columns:repeat(2,1fr);
}


/*-----------------------------------------------------------------------*/

/*----------------------------Section 8-------------------------------------*/
.section-8{
	text-align: center;
	padding-top: 6rem;
	padding-bottom: 6rem;
}

.section-8-grid{
	display: grid;
	grid-template-rows:auto auto, 1fr;
}

.s8-item2{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.folder-icon{
	padding-bottom: 1rem;
}

/*-----------------------------------------------------------------------*/

/*----------------------------Section conclusion-------------------------------------*/

.section-c-item1{
	padding:0 2rem 0 0; 
}

.section-c-item2{
	padding-block-start:min(20vh,4rem);
}

.conclusion-img{
	width: 38.625rem;
	height: 28.125rem;
}

.conclusion-button{
	width: 16.4375rem;
	height: 3.8125rem;
	background-color: var(--button-color);
	margin-top: 1.5rem;
	border-style: none;
	border-radius: 2px;
	box-shadow:0 4px 4px 0 lightgray;
	color: white;
	visibility: visible;
	cursor: pointer;
	pointer-events: auto;
	opacity: 1;
}

button:hover {
      background-color: var(--gradient-purple1);
    }

    button:active {
      background-color:var(--gradient-purple1);
    }


/*-----------------------------------------------------------------------*/
/*-----------------------------------------------------------------------*/
/*----------------------------Footer-------------------------------------*/
.section-9{
	/*position: relative;*/
	color: white;
	background: linear-gradient(90deg,var(--gradient-purple2)16%,var(--gradient-purple1));
	
}

.section-9-container1{
	display: grid;
	grid-template-rows: auto auto 1fr;

}

.grid-s9-item1{
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	margin-top: 4rem;
}

.grid-s9-item1 >img{
	width: 4.875rem;
	border-radius: 100%;
}

.section-9-container2{
	display: grid;
	grid-template-columns: repeat(3,1fr);
	width: 60%;
	margin: 6% 20% 0 20%;
	gap: 1rem;
}

.grid-s9-c2-item3{
	display: flex;
	flex-direction: column;
}

.email-contact,.phone-contact{
	display:flex;
	flex-direction: row;
}

.email-contact >img, .phone-contact >img{
	margin:1rem 1rem 1rem 0;
}

.email-contact >img, .phone-contact>img{
	width: 1.5rem;
	height: 1.375rem;
}

footer{
	margin-top: 2rem;
}
.footer-container{
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	margin: 2rem 0 3rem 0;
}

.footer-item1{
	display: flex;
	align-items: flex-start;
	gap: 2rem;
	/*position:relative;
	z-index: 1;*/
}

.footer-item1 > p > a{
	color:white;
}
.footer-item2{
	display: flex;
	align-items: flex-start;
	gap: 1rem;
	margin-right: 2rem;
	/*position:relative;
	z-index: 1;*/
}

.footer-item2 > a >img{
	width: 3rem;
	height: 3.0625rem;
}

.footer-item2 >img:nth-of-type(3){
	border-radius: 100%;
}

/*--------------------------------------------------*/
/*------------------------Responsive query footer--------------------------*/

@media (max-width:1179px){
	.section-9-container1{
		width: 85vw;
	}	
}

	@media (max-width:1024px){
		.section-9-container1,.section-margin{
			margin-left: 0;
			width: 100vw;
		}

		.grid-items-container1{
			margin-right: 0;
		}
		.grid-item1> p{
			width: 100vw;
			padding-left: 2vw;
			padding-right: 2vw;
		}
		
		.grid-item2-1{
			width:100vw;
			max-width: 100%;
		}
		
		/*.grid-item2-1>iframe{
			width:100vw;
			max-width: 100%;
		}*/

		.grid-section2-container2{
			width: 98vw;
			margin: 0;
		}

		.section2-item1{
			width: 100vw;
			margin: 0;
		}

		.section3-item1{
			width: 100vw;
			margin: 0;
		}

		.grid-section3-container2{
			width: 100vw;
			margin-left: 8vw;
			
		}

		.grid-s4-img>img{
			width: 100vw;
		}
	
		.grid-s4-img >img{
			height: 70vw;
		}

		.section-9-container2{
			width: 90vw;
			margin:5vw 10vw 0 10vw;
		}

		.footer-item1{
			padding-left: 2vw;
		}

		.footer-item2{
			width: 40vw;
			padding-left: 2vw;
		}
}


@media (max-width:786px){
	.section-9-container2{
		width: 87vw;
		margin:5vw 8vw 0 8vw;
	}
	.link-white{
		text-decoration: underline;
	}
}

@media(max-width:600px){
	.grid-s9-item1{
		margin-top: 2rem;
	}

	.grid-s9-item1>h1{
		font-size: var(--paragraph-font-size1);
	}

	.grid-s9-item1>img{
		width: 10vw;
	}

	.footer-heading{
		font-size: var(--paragraph-font-size1);
	}

	.footer-heading2{
		font-size: 12px;
	}

	.footer-item2 > a > img{
		max-width: 100%;
		width: 5vw;
		height: 5vw;
		margin-top: 1.5rem;
	}

	.footer-container{
		margin-top:1rem;
		margin-bottom: 1rem;
	}

}

@media(max-width:533px){
	.footer-heading{
		font-size: clamp(0.9rem, 1vw, 1rem);
	}

	.grid-s9-item1{
		flex-direction: column;
	}

	.grid-s9-item1>img{
		width: 15vw;
	}

	.email-contact >img,.phone-contact > img{
		width: 4vw;
	}
	
}

/*@media(max-width:478px){

	.black-item{
		margin-top: -5rem;
	}
	
}*/

/*@media(max-width:462px){
	.section2{
		margin-top: 16rem;
	}
	.grid-section2-container1{
		margin-top: 0;
	}
}*/

@media(max-width:478px){
	.section-9{
		margin-top: 5rem;
	 }

	 .section-9-container1{
		padding: 0 0.5rem 0 0.5rem;
	 }

	 .section-9-container2{
		padding-left: 3rem;
		margin-left: 0;
		margin-right: 0;
	 }
	 .grid-s9-item1>h1{
		display: none;
	 }

	 .grid-s9-item1{
		width: 30vw;
		max-width: 100%;
		margin-left: 1rem;
	 }

	 .grid-s9-c2-item1{
		max-width: 100%;
		width: 100vw;
	 }

	 .grid-s9-c2-item2{
		grid-column: 1/-1;
		max-width: 100%;
	 }

	 .grid-s9-c2-item3 > h2{
		display: none;
	 }

	 .grid-s9-c2-item3{
		grid-column: 1/-1;
		flex-direction: column;
		justify-content: flex-start;
		gap: 1rem;
	 }

	.footer-container{
		display:grid;
		grid-template-rows: auto, 1fr;
		grid-template-areas: 
		"footer-item2"
		"footer-item1";
		margin-top: 0;
	}
	.footer-item1 { grid-area: footer-item1; }
    .footer-item2 { grid-area: footer-item2; }

	.footer-item1{
		display: block;
		text-align: left;
		width: 100vw;
		max-width: 100%;
		padding: 0 4rem 0 3rem;
	}

	.footer-item2 >a>img{
		width: 9vw;
		height: 5vh;
		max-width: 100%;
		align-items: left;
	}

	.footer-item2{
		width: 100vw;
		max-width: 100%;
		justify-content: left;
		padding:0 0 2rem 3rem;
	}

	.email-contact >img,.phone-contact > img{
		width: 6vw;
	}
}

@media(max-width:375px){
	.grid-s9-item1> img{
		width: 20vw;
		max-width: 100%;
	}
	.footer-item2 >a>img{
		width: 11vw;
		max-width: 100%;
		align-items: left;
	}
}

@media(max-width:375px) and (min-width:300px){
	.footer-item2 >a>img{
		width: 12vw;
		height: 5vh;
		max-width: 100%;
		align-items: center;
	}
}

/*--------------------------------------------------------------------------------*/
/*------------------------Responsive media query----------------------------------*/
@media (min-width:1441px) {
	.img-container1{
		padding-inline-start:max(20vh,6.5rem);
	}
	
	.img-container2{
		padding-inline-end:max(20vh,6.5rem);
	}

	.section-padding2{
		/*padding-left:  6.375rem;
		padding-right: 6.375rem;*/
		padding-inline: max(20vh,6.375rem);
	}
  }

  @media (max-width:1280px) {
	.img-container1{ 
		padding-inline-start:min(5vh,6.5rem);
	}
	
	.img-container2{
		padding-inline-end:min(5vh,6.5rem);
	}

	.section-padding2{
		/*padding-left:  6.375rem;
		padding-right: 6.375rem;*/
		padding-inline: min(5vh,6.375rem);
	}
  }

  @media (max-width:1100px) {
	.img-container1{ 
		padding-inline-start:min(2vh,6.5rem);
	}
	
	.img-container2{
		padding-inline-end:min(2vh,6.5rem);
	}

	.section-padding2{
		/*padding-left:  6.375rem;
		padding-right: 6.375rem;*/
		padding-inline: min(2vh,6.375rem);
	}
  }

  @media(max-width:1024px) {
	.section-3-grid
	{
		grid-template-areas:
		"s3-item1"
		"s3-item2";
	}

	.section-4-grid
	{
		grid-template-areas:
		"s4-item1"
		"s4-item2";
	}

	.section-5-grid
	{
		grid-template-areas:
		"s5-item1"
		"s5-item2";
	}

	.section-6-grid
	{
		grid-template-areas:
		"s6-item1"
		"s6-item2";
	}

	.section-7-grid
	{
		grid-template-areas:
		"s7-item1"
		"s7-item2";
	}

	.s3-item1 { grid-area: s3-item1; }
    .s3-item2 { grid-area: s3-item2; }
	.s4-item1 { grid-area: s4-item1; }
    .s4-item2 { grid-area: s4-item2; }
	.s5-item1 { grid-area: s5-item1; }
    .s5-item2 { grid-area: s5-item2; }
	.s6-item1 { grid-area: s6-item1; }
    .s6-item2 { grid-area: s6-item2; }
	.s7-item1 { grid-area: s7-item1; }
    .s7-item2 { grid-area: s7-item2; }

  }





  @media (min-width: 40em) {
	:root {
	  --fs-600: 3rem;
	  --fs-400: 1.125rem;
	}
  }

