*{
	box-sizing: border-box;
}

body{
	margin: 0;
	padding: 0;
}

body::-webkit-scrollbar{
	width: 0.5rem;
}

body::-webkit-scrollbar-track{
	background: var(--darkpurple);
}

body::-webkit-scrollbar-thumb{
	background: var(--gradient-purple1);
}

main{
	margin:0;
	padding: 0;
}


:root {
  --footer-font-size:15px;
  --paragraph-font-size1: 16px;
  --paragraph-font-size2:17px;
  --paragraph-font-size3:18px;
  --sub-heading-font-size:20px;
  --main-heading-font-size:55px;
  --second-heading-font-size:40px;
  --Lexend-font:"Lexend", sans-serif;
  --button-color:#D05959;
  --gradient-purple1: #5F27B7;
  --gradient-purple2:#2A1151;
  --darkpurple:#423757;
  --bg-main:#FFFAE2;


}

.wrapper{
	display: grid;
	grid-template-columns:repeat(1, minmax(100px,1fr));
	align-items: stretch;
	margin-top: 8.1rem;
}

/*-------------------------------header section---------------------*/

.logo{
	width: 78px;
	height: 74px;
	border-radius: 100%;
}

header{
	background: white;
	width: 100%;
	display: flex;
	justify-content:stretch;
	align-items: left;
	top: 0;
	position: fixed;
	padding:1.5rem;
	box-shadow: 0 2px 7px 0 gray;
	backdrop-filter: blur(50px);

}

#icon-text{
	color: black;
	width: 18%;
	height: 2.5rem;
	font-family: "Lexend", sans-serif;
	font-optical-sizing: auto;
	font-weight: 700;
	font-size: var(--paragraph-font-size3);
	line-height: auto;
	font-style: bold;
	text-align: left;
	padding-left: 1.5rem;
	max-width: 200vw;
}

/*----------------------------------------------------------------------*/         


/*--------------------------Nav section---------------------------------*/

.navbar{
  height: 3.125rem;
  margin-left: auto;
	
}

.navbar-nav {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  padding-inline-start: 0;
  margin-block: 0;
  height: 100%;
  list-style-type: none;
  padding-top: 1.3rem;

}

.nav-item{
	font-size:var(--paragraph-font-size2);
	padding: 0 6.25rem 0 0;

}

.navbar:hover{
	display: block;
}


.sidebar{
	position:fixed;
	top:-1.1rem;
	right: 0;
	height: auto;
	width: 20rem;
	z-index: 999;
	background-color:whitesmoke;
	padding:2rem;
	font-size:var(--paragraph-font-size2);
	box-shadow: 0 2px 4px 0 gray;
	list-style-type: none;
	display: none;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
}


.sidebar-item{
	font-size:var(--paragraph-font-size2);
	padding: 3rem 0 0.25rem 0;
}
/*--------------------------------------------------- */



/*--------------------Hero section--------------------*/
#hero{
	display: grid;
	grid-template-columns:repeat(2, 1fr);
	background: var(--bg-main);
	height: 46.5625rem;
	margin-top: -1rem;

}

.hero-heading{
  font-size: var(--main-heading-font-size);
  background: linear-gradient(360deg,var(--gradient-purple2),var(--gradient-purple1));
	-webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  line-height: auto;
  font-style: bold;

}


.hero-button{
	width: 141px;
	height: 45px;
	background-color: var(--button-color);
	border-style: none;
	border-radius: 2px;
}

.grid-items-container1{
	display: grid;
	grid-template-columns:repeat(1, 1fr);
	background: yellow;
	margin-left: 6.375rem;
	margin-top: 9rem;
	padding: 0;
	height: 80vh;
}

.grid-item1{
	height:20vh ;
}

.grid-item2{
	width: 63vh;
	
}

.grid-item2 > p{
	font-size:var(--paragraph-font-size1);
}

.grid-item3 > button{
	box-shadow:0 4px 4px 0 gray;
}



.grid-items-container2{
	display: grid;
	grid-template-columns:repeat(1, 1fr);
	background: green;
}

.grid-item2-1{
	margin-top: 7rem;
}

video{
	width: 684px;
	height: 465px;
}

/*--------------------------------------------------- */




img{
	width: 200px;
}


/*------------------------Fonts and styles-----------------------------------*/
.heading,.nav-item,.sidebar-item{
	background: linear-gradient(360deg,var(--gradient-purple2),var(--gradient-purple1));
	-webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  line-height: auto;
  font-style: bold;
}

.heading{
	font-size: var(--second-heading-font-size);
}

.subheading{
	font-size: var(--sub-heading-font-size);
}

.lexend-font{
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: bold;
  line-height: 26px;
}


.varela-round-regular {
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 26px;
}
/*-----------------------------------------------------------*/

/*-----------------------------------------------------------*/
/*-----------media queries for responsive navbar-------------*/

@media(max-width:800px){
	.hideOnMobile{
		display: none;
	}
}

@media(min-width:801px){
	.hideOnMobile2{
		display: none;
	}
}

@media(max-width:1800px){
	header,#icon-text,.nav-item{
		font-size: clamp(0.9rem, 1vw, 1rem);
	}

	#icon-text{
		padding-top: 0.5rem;
		width: 16%;
	}

	.nav-item{
		padding: 0 6.25rem 0 0;
	}
}

@media(max-width:1743px){
	header,#icon-text,.nav-item{
		font-size: clamp(0.9rem, 1vw, 1rem);
	}

	#icon-text{
		padding-top: 0.5rem;
		width: 18%;
	}

	.nav-item{
		padding: 0 4.25rem 0 0;
	}
}

@media(max-width:1417px){
	header,#icon-text,.nav-item{
		font-size: clamp(0.7rem, 1vw, 0.8rem);
	}

	#icon-text{
		padding-top: 0.8rem;
		width: 18%;
	}

	.nav-item{
		padding-right: 4.75rem;
	}
}

@media(max-width:1280px){
	header,#icon-text,.nav-item{
		font-size: clamp(0.7rem, 1vw, 0.8rem);
	}

	#icon-text{
		padding-top: 0.8rem;
		width: 20%;
	}

	.nav-item{
		padding-right: 1.75rem;
	}
}

@media(max-width:1033px){
	header,#icon-text,.nav-item{
		font-size: clamp(0.7rem, 1vw, 0.8rem);
	}

	#icon-text{
		padding-top: 0.5rem;
		width: 20%;
	}

	.nav-item{
		padding-right: 1.75rem;
	}
}

@media(max-width:800px){
	header,#icon-text,.nav-item{
		font-size: clamp(1.2rem, 1vw, 1.5rem);
	}

	#icon-text{
		padding-top:0;
		margin-top: 1.5rem;
		width: 100%;

	}

	.nav-item{
		padding-right: 1.75rem;
	}

	.sidebar{
		width: 50%;
		height: 200vh;
	}
}

@media(max-width:796px){
	header,#icon-text,.nav-item{
		font-size: clamp(1rem, 1vw, 1.2rem);
	}

	#icon-text{
		padding-top:0;
		margin-top: 1.5rem;
		width: 100%;

	}

	.nav-item{
		padding-right: 1.75rem;
	}

	.sidebar{
		width: 50%;
		height: 200vh;
	}
}

@media(max-width:601px){
	header,#icon-text,.nav-item{
		font-size: clamp(1.2rem, 1vw, 1.5rem);
	}

	#icon-text{
		padding-top:0;
		margin-top: 1rem;
		width: 55%;

	}

	.nav-item{
		padding-right: 1.75rem;
	}

	.sidebar{
		width: 100%;
		height: 26rem;
		margin-top: 9rem;
	}
}